body{
	margin: 0;
	font-family: Nanami, Arial, sans-serif;
	font-size: 20px; 
	line-height: 30px; 
}
header {max-width: 1000px;
		margin: 0 auto; 
		background-color: #b3d1ff;
		text-align: center;
		padding-top: 50px;
		padding-bottom: 50px;}
h1, h2 {font-family: 'Petit Formal Script', cursive;}

/* header styles */
header h1 { color: #19283d;
			font-size: 50px;

}

header img {border-radius: 170px;
			width: 300px;
			border: 10px solid #19283d;}


main{ max-width: 800px; 
	margin: 0 auto;
	padding: 20px; }

main img {max-width: 50%;
	alignment-baseline: center;}

h2 { font-size: 30px;
	color: #033780;
	margin: 40px 0 10px; 
}

a{
	color: #033780;
}
a:hover{ 
	color: white;
	background-color: #82b6ff; }

footer {
	background-color: #b3d1ff;
		text-align: center;
		color: white;
		padding: 50px}

footer p{
		margin: 0;
}

footer a {
	color: white;
}

p.caption{ 
		color: #999999;
		font-style: italic;
		margin-top: 0;
		text-align: center;
	 }

.center { display: block;
			margin-left: auto;
			margin-right: auto;
			width: 50%; }